<div class="my-3 my-md-5">
  <div class="container">
    <div class="page-header">
      <h1 class="page-title">
        Salles de réunions - <%= @building.name %>
      </h1>
    </div>
    <div class="row row-cards">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
          <div class="rooms">
            <% @rooms.each do |room| %>
              <% if room.color == 'black' %>
                <span class="tag tag-gray-dark"><%= room.name %></span>
              <% elsif room.color == 'green' %>
                <span class="tag tag-green"><%= room.name %></span>
              <% elsif room.color == 'red' %>
                <span class="tag tag-danger"><%= room.name %></span>
              <% elsif room.color == 'orange' %>
                <span class="tag tag-warning"><%= room.name %></span>
              <% elsif room.color == 'blue' %>
                <span class="tag tag-blue"><%= room.name %></span>
              <% else %>
                <span class="tag" style="color: white; background-color: <%= room.color %>"><%= room.name %></span>
              <% end %>
            <% end %>
          </div>
          <div class="icals ml-auto">
            <div class="dropdown d-none d-md-flex">
                  <a class="nav-link icon" data-toggle="dropdown">
                    <button type="button" class="btn btn-secondary dropdown-toggle">
                       <i class="fe fe-calendar mr-2"></i>Ajouter à votre calendrier
                    </button>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" style="white-space: nowrap">
                    <div class="card-header">
                      <h3 class="card-title">Ajoutez ce lien à votre calendrier</h3>
                    </div>
                    <div class="card-body">
                      <% @rooms.each do |room| %>
                        <div class="form-group" style="white-space: nowrap">
                          <label class="form-label"><%= room.name %></label>
                          <input type="text" class="form-control" name="example-disabled-input" placeholder="Disabled.." value="https://<%= ENV['DOMAIN_NAME'] %>/ical/<%= room.hid %>.ics" readonly="">
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
            
          </div>
        </div>
          <div class="card-body">
            <div id="calendar" class="calendar"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:body_attributes) do %>
   data-turbolinks="false"
<% end %>

<% content_for :javascript do %>

<script type="text/javascript">
  
  document.addEventListener('turbolinks:load', function() {
    var calendarEl = document.getElementById('calendar');

    window.calendar = new FullCalendar.Calendar(calendarEl, {
      schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
      plugins: [ 'interaction', 'dayGrid', 'timeGrid', 'resourceTimeline', 'resourceTimeGrid' ],
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'resourceTimeGrid,timeGridWeek'
      },
      buttonText: {
        resourceTimeGrid: 'Jour',
      },
      height: 700,
      slotDuration: '00:15:00',
      scrollTime: '09:00:00',
      locale: 'fr',
      timeZone: 'UTC',
      defaultView: 'resourceTimeGrid',
      datesAboveResources: true,
      resources: '/calendar/<%= params[:id] %>.json',
      resourceLabelText: 'Salles',
      resourceAreaWidth: '20%',
      slotWidth: 22,
      firstDay: '1',
      selectable: true,
      selectHelper: true,
      editable: true,
      eventLimit: true,
      events: '/events.json?building=<%= params[:id] %>',
      
      
      select: function(info) {
        $.getScript('/events/new?building=<%= params[:id] %>', function() {
          $('#event_room_id').val(info.resource === undefined ? null : info.resource.id);
          $('.start_hidden').val(info.startStr);
          $('.end_hidden').val(info.endStr);
        });
      },

      eventDrop: function(info) {
        event_data = {
          authenticity_token: $('[name="csrf-token"]')[0].content,
          event: {
            id: info.event.id,
            start_at: info.event.start,
            end_at: info.event.end,
            color: info.event.extendedProps.color,
            room_id: info.event.getResources()[0].id
          }
        };
        $.ajax({
            url: info.event.extendedProps.update_url,
            data: event_data,
            dataType: 'script',
            type: 'PATCH'
        });
      },

      eventResize: function(info) {
        event_data = {
          authenticity_token: $('[name="csrf-token"]')[0].content,
          event: {
            id: info.event.id,
            start_at: info.event.start,
            end_at: info.event.end,
            color: info.event.extendedProps.color,
            room_id: info.event.extendedProps.room_id
          }
        };
        $.ajax({
            url: info.event.extendedProps.update_url,
            data: event_data,
            dataType: 'script',
            type: 'PATCH'
        });
      },
      eventClick: function(info) {
        $.getScript(info.event.extendedProps.edit_url, function() {
          $('.start_hidden').val(info.event.start);
          $('.end_hidden').val(info.event.end);
        });
      }
    });
    
    
    calendar.render();
  });
</script>

<% end %>
