<div class="header py-4">
  <div class="container">
    <div class="d-flex">  
      <%= link_to(root_path, class: "header-brand") do %>
        <%= image_tag("athome.png", class: "header-brand-img", alt: "At Home logo") %>
      <% end %>
      <div class="d-flex order-lg-2 ml-auto">
        <div class="dropdown">
          <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
            <span class="avatar" style="background-image: url(<%= image_url current_user.avatar %>)"></span>
            <span class="ml-2 d-none d-lg-block">
              <span class="text-default"><%= user_signed_in? ? current_user.nickname : "" %></span>
              <small class="text-muted d-block mt-1"><%= current_user.roles.first.human_name rescue "Membre" %></small>
            </span>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
            <%= link_to(edit_people_path(current_user.id), class: "dropdown-item") do %>
              <i class="dropdown-icon fe fe-user"></i> Profil
            <% end %>
            <div class="dropdown-divider"></div>
            <%= link_to(destroy_user_session_path, method: :get, class: "dropdown-item") do %>
              <i class="dropdown-icon fe fe-log-out"></i> Se déconnecter
            <% end %>
            
          </div>
        </div>
      </div>
      <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
        <span class="header-toggler-icon"></span>
      </a>
    </div>
  </div>
</div>
